.site-logo img {
  display: block;
  max-height: 2.5rem;
  width: 80%;

  @media screen and (min-width: $desktop-narrow) {
    width: 22.5rem;
  }
}

.footer-logo {
  background: url("../../logo.svg") top left no-repeat;
  display: block;
  font-size: 0;
  height: 2.5rem;
  width: auto;

  @media screen and (min-width: $tablet-portrait-narrow) {
    width: 25rem;
  }

  @media screen and (min-width: $desktop-narrow) {
    width: 33rem;
  }
}