.site-logo {
  display: block;
  width: 100%;

  @media screen and (min-width: $desktop-narrow) {
    width: 22.5rem;
  }

  img {
    max-height: 2.5rem;
  }
}

.footer-logo {
  background: url("../../logo.svg") top left no-repeat;
  display: block;
  font-size: 0;
  height: 2.5rem;
  max-height: 2.5rem;
  width: 100%;

  @media screen and (min-width: $desktop-narrow) {
    width: 22.5rem;
  }
}
.footer-logo-hobby {
            box-sizing: border-box;
            background: url(/themes/custom/pori_events/dist/images/harrastukset.png) no-repeat;
            background-size: contain;
            max-height: 150px;
            width: 750px;
}
.hobby-class-1 {
  .dialog-off-canvas-main-canvas{
    .layout-container{
      .page-footer {
        
            background: url(/themes/custom/pori_events/dist/images/harrastukset.png) no-repeat;
            background-size: contain;
            max-height: 150px;
            width: 350px;
        .page-footer__top{
          
          a {
            display:none;
          }
        }
      }
    }
  }
}