.branding__container {
  display: flex;
  padding: .5rem 0;

  @media screen and (min-width: $tablet-portrait-narrow) {
    padding: 1.5rem 0;
  }
}

.site-slogan {
  font-family: $heading-font-family;
  font-size: .85rem;
  letter-spacing: -0.5px;
  margin: 0 2rem;
  padding: .5rem 0;
  text-transform: uppercase;

  @media screen and (max-width: $desktop-narrow) {
    display: none;
    width: 70%;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }
}
//Making custom branding acording to hobby or event

.hobby-class-1 {
  .dialog-off-canvas-main-canvas{
    .layout-container{
      .page-header{
        .region-header{
          #block-sitebranding{
           .site-logo{
            box-sizing: border-box;
            background: url(/themes/custom/pori_events/dist/images/harrastukset1.png) no-repeat;
            background-size: contain;
            max-height: 150px;
            width: 550px;
            @media screen and (max-width: $desktop-narrow) {
              display: none;
            
            }
            img {
              display: none;
            }

           }
          }
          
        }
        
      }
    }
  }
}
.hobby-header-container  {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}
.hobby-header-container {
  a{
    img {
      max-height: 150px;
      width: 450px;
    }
    
}  
}
.hobbies-logo {
  box-sizing: border-box;
  background: url(/themes/custom/pori_events/dist/images/harrastukset1.png) no-repeat;
  background-size: contain;
  height: 150px;
  width: 550px;
}
