.branding__container {
  display: flex;
  padding: .5rem 0;

  @media screen and (min-width: $tablet-portrait-narrow) {
    padding: 1.5rem 0;
  }
}

.site-slogan {
  display: none;
  font-family: $heading-font-family;
  font-size: .85rem;
  letter-spacing: -0.5px;
  padding: .5rem 0;
  margin: 0 2rem;
  text-transform: uppercase;

  @media screen and (min-width: $desktop-narrow) {
    display: block;
    width: 70%;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }
}