.caption-content {
    background: white;
    padding: 40px;
    @media screen and (min-width: $desktop-narrow) {
        width: 50%;
    }    
}

.slide-container {
    background-size: cover;
    background-position: center center;
    @media screen and (min-width: $desktop-narrow) {
        height: 700px;
        max-width: 1680px;
        margin: 0 auto;
    }
    @media screen and (max-width: $desktop-narrow) {
        background-image: none !important;
    }
}

#block-views-block-promoted-events-block-1 {
    max-height: 500px;
    overflow: hidden;
    .slick-dots {
        top: 20px;
        left: 50%;
        margin-left: -140px;
        li {
            border-color: black;
        }
        .slick-active {
            background-color: black;
        }
        button {
            visibility: hidden;
        }
    }
    .short_description {
        font-weight: 700;
    }
    .title {
        font-family: $heading-font-family;
        text-transform: uppercase;
        color: $secondary-color-light;
        font-size: 14px;
        margin-bottom: 1em;
    }
    a {
        color: black;
    }
}