.event__date--container {
  color: $gray;
  display: flex;
  font-family: $bergen-mono;
  font-size: .775rem;
  margin-bottom: .5rem;

  @media screen and (min-width: $tablet-portrait) {
    font-size: .875rem;
  }

  .event__date--separator {
    &:after {
      content: '-';
      display: inline-block;
      margin: 0 .2rem;
    }
  }
}

.event__image--container {
  margin-bottom: 1.2rem;

  @media screen and (min-width: $desktop-narrow) {
    margin-bottom: 2rem;
  }
}

.event__image--container {
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.event__text-content {
  padding: 0 1rem;
  @media screen and (min-width: $desktop-narrow) {
    padding: 0 4rem;
  }
}

.event__content__short-description {
  font-weight: 600;
  padding-bottom: 2rem;
}

.event__content--container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: $inner-container-width;

  @media screen and (min-width: $desktop-narrow) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.event__text-content {
  margin-bottom: 1.25rem;
  order: 2;

  @media screen and (min-width: $desktop-narrow) {
    order: 1;
    width: 55%;
  }

  @media screen and (min-width: $desktop) {
    width: 65%;
  }
}

.event__content--sidebar {
  order: 1;
  margin-bottom: 1.25rem;

  @media screen and (min-width: $desktop-narrow) {
    order: 2;
    width: 35%;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 3rem;
    width: 30%;
  }

  .svg-inline--fa {
    position: absolute;
    left: 1em;
    width: 1.8em !important;
    height: 1.8em;
    top: 50%;
    margin-top: -0.9em;
    color: $default-color-medium;
  }
}

.event__content--sidebar__title {
  background-color: $blue;
  color: $white;
  margin: 0;
  padding: 1.25rem 0.5rem;
  text-align: center;
  font-weight: normal;
}

.event__content--sidebar__item {
  border-top: 1px solid $gray-light;
  font-family: $bergen-mono;
  font-size: .9rem;
  padding: 1.25rem 0.5rem 1.25rem 3.75rem;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  overflow-wrap: break-word;
  &:first-of-type {
    border-top: 0 none;
  }

  &:last-of-type {
    border-bottom: 1px solid $gray-light;
  }

  &::before {
    color: $gray;
    left: 1.25rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 1.875rem;
  }

  &.event__address {
    .span {
      @media screen and (min-width: $desktop + 8.75rem) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }

    .event__address--street span::after {
      @media screen and (min-width: $desktop + 8.75rem) {
        content: ",";
        margin-right: .313rem;
      }
    }
  }
}

.event__back-button {
  border: .094rem solid $black;
  color: $black;
  display: inline-block;
  margin-top: 1.5rem;
  padding: .8rem 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  .svg-inline--fa {
    margin-right: 20px;
  }
}

.event__content-weekday-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.event__content-weekday-wrapper > p {
  margin: 0;
}

.hobby {
  background: #EC1C24 !important;
}
.hobby-text-red {
  background: #EC1C24;
  &:hover {
    color: white;
    background: darken(#EC1C24, 5%);
  }
}
.event-text-blue {
  background: $blue;
  &:hover {
    color: white;
    background: darken($blue, 5%);
  }
}
.page-footer-hobby {
  border-bottom: 0.6rem solid #EC1C24 !important;
}
.event__content__description{
  white-space: pre-line;
}