# Theme related ignores
#composer specific files
composer.lock
composer.json

# Ignore sass-cache files.
*.sass-cache*

# node
libraries/font-awesome
libraries/jquery
libraries/responsive-nav
node_modules
npm-debug.log
.gulp

*.css.map
.DS_Store

# NFS temporary files
.nfs*
